doctype html
html(lang = "en")
 head
  title= title
 body
  video
   source&attributes(video_source)
  h1= instructor_name
  #attributes
   each attr in attributes
    .attribute= attr
  #other_courses
   each course in other_courses
    .other_course
     a(href = course.link)= course.name
